{% extends "base.html" %}
{% load catalog_tags %}

{% block title %} {{ page.meta_title }}{% endblock title %}
{% block keywords %}{{ page.meta_keywords }}{% endblock keywords %}
{% block description %}{{ page.meta_description }}{% endblock description %}

{% block categorymenu %}
    {% left_menu category.id %}
{% endblock categorymenu %}

{% block content %}
<div class="breadcrumbs">
	{% if path %}
	{% for p in path %}
	<a href="{{ p.get_absolute_url }}">{{ p }}→</a>
	{% endfor %}
	{% endif %}
	<a href="{{ category.get_absolute_url }}">{{ category }}</a>
</div>

<h2>List of files:</h2>
{% for a in category.attachment.all %}
<div class="attach">
    <a href="#">{{ a.name }}</a>
    {% if a.description %}<span>{{ a.description }}</span>{% endif %}
</div>
{% endfor %}
{% endblock content %}