{% load mptt_tags %}

<ul class="root">
    {% recursetree nodess.get_children %}
        <li {% get_class node nodess %}>
            <a href="#">{{ node.name }}</a>
            {% if node in path %}
                <ul class="children">
                    <a href="#">{{ children }}</a>
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

{% drilldown_tree_for_node par as drilldown %}
{% for node,structure in drilldown|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
        <a href="#">{{ node.name }}</a>
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
